body {
    height: 100%;
    background: black;    
    animation: 5s ease-in fadein;
    display: grid;
    place-items: center;
}
.animated-gif{
    position: fixed;
    width: 100%;
    height: auto;
    background-image: url("rainy-day.gif");
    background-repeat: no-repeat;
    background-size:cover;
  }

#main-stuff{
    width: 50%;
    height: auto;
    position: absolute;
    padding-top: 20px;
    background-image: url("backgroundimg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 4px solid white;
    animation: 7s ease-in fadein;
    overflow-wrap: everywhere;
}

.header{
  border: 4px solid white;
  border-bottom: 2px solid white;
  padding: 20px;
  width: auto;
  display: grid;
  align-items: center;
  background-color: black;
}

#container{
    margin: auto;
    overflow-wrap: anywhere;
    font: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}

#text-container{
  padding: 20px;
  border: 4px solid white;
  margin: auto;
  width: 75%;
  object-fit: contain;
  height: 80%;
  display: grid;
  background-color: black;
}

#quote{
  margin: auto;
  padding-top: 25%;
  font-size: small;
  color: grey;
}

.image-content{
  margin: auto;
  padding: 20px;
  width: 75px;
  height: 75px;
  border: 2px solid white;
}

ul {
  list-style-type: none;
  margin: auto; 
}

li {
  
  color: white;

}

p {
    color: white;
}

h1{
  margin: auto;
  padding-top: 50px;
  color: white;
}

h3{
  margin: auto;
  padding-top: 10px;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}