body {
    background: black;    
    animation: 5s ease-in fadein;
    display: grid;
    place-items: center;
}
.animated-gif{
    position: fixed;
    width: 100%;
    height: auto;
    background-image: url("rainy-day.gif");
    background-repeat: no-repeat;
    background-size:cover;
  }

#main-stuff{
    width: 50%;
    height: 100%;
    position: absolute;
    background-image: url("backgroundimg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 4px solid white;
    animation: 7s ease-in fadein;
}

#header{
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#text-container{
  border: 4px solid white;
  margin: auto;
  width: 75%;
  object-fit: contain;
  height: 80%;
  border-top: 0px;
  display: grid;
  background-color: black;
}

#quote{
  margin: auto;
  padding-top: 25%;
  font-size: small;
  color: grey;
}

ul {
  list-style-type: none;
  margin: auto; 
}

li {
  
  color: white;

}

p {
    color: white;
}

h1{
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}