body {
    background: black;    
    animation: 3s ease-in fadein;
    display: grid;
    place-items: center;
}


#main-stuff{
    width: 75%;
    height: auto;
    position: relative;
    padding-top: 20px;
    background-image: url("backgroundimg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 4px solid white;
    animation: 8s ease-in fadein;
    overflow-y: scroll;
}

#header{
  border: 4px solid white;
  background-color: black;
  display: flex;
  padding: 25px;
  align-content: center;
}

#container{
    margin: auto;
    overflow-wrap: anywhere;
    font: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    float: none;
}

#text-container{
  padding: 20px;
  border: 4px solid white;
  margin: auto;
  margin-bottom: 20px;
  width: 50%;
  object-fit: contain;
  height: 80%;
  display: grid;
  background-color: black;
  overflow-y: scroll;
}

#quote{
  margin: auto;
  padding-top: 20px;
  font-size: small;
  color: grey;
  clear: none;
}

.image-content{
  float: right;
  margin: auto;
  padding: 20px;
  width: 75px;
  height: 75px;
  border: 2px solid white;
}

.animated-gif{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("rainy-day.gif");
    background-repeat: no-repeat;
    background-size:cover;
}

audio {
  margin: auto;
}

ul {
  list-style-type: none;
  margin: auto; 
}

form {
  color: white;
}

li {
  
  color: white;

}

p {
    margin: auto;
    color: white;
}

h1{
  margin: auto;
  color: white;
}

h3{
  margin: auto;
  padding-top: 10px;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}